<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>TokenSpring - Gerador de Tokens Oauth2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header>
        <div class="cover">
            <div class="background"></div>
            <span>TokenSpring</span>
        </div>
    </header>
    <section class="section">
        <div class="container">
            <div class="">
                <h1 class="title is-3 has-text-success">404 - Não encontrado</h1>
            </div>
        </div>
    </section>

    <script>
        // Simula a injeção dos tokens (substitua pelo seu render server-side ou via JS)
        const accessToken = localStorage.getItem('access_token');
        const refreshToken = localStorage.getItem('refresh_token');

        document.getElementById('accessToken').textContent = accessToken || 'Não recebido';
        document.getElementById('refreshToken').textContent = refreshToken || 'Não recebido';
    </script>
</body>

</html>