@import url('./header.css');
@import url('./section.css');
@import url('./button.css');
@import url('./control.css');
@import url('./flex.css');

body {
    background-color: #f0fdf4;
}

.box {
    background-color: #d9f5e5;
}

.token-box {
    word-break: break-all;
    font-family: monospace;
    font-size: 0.9rem;
    background-color: #e6fff1;
    padding: 1em;
    border-radius: 6px;
}